body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 5px;
    border-width:100px;
    background-image:url(https://addons.opera.com/media/CACHE/images/themes/31/229031/1.0-rev1/images/96d8d9e4f77fb11b6368ec46d1167f99/9ec422f5aae7c4dd5cef577d9a3c8a2a.jpg);

    background-repeat:repeat-y;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
aside{
   float:left; 
}
