body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 5px;
    border-width:100px;
    background-image:url(http://www.publicdomainpictures.net/pictures/30000/velka/stunning-sunset-2.jpg#.WjKJPG_FohQ.link);

    background-repeat:no-repeat;
    background-position: center; 
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
aside{
   float:left; 
}
