body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 5px;
    border-width:100px;
    background-image:url(https://addons.opera.com/media/CACHE/images/themes/96/230196/1.0-rev1/images/df1a28cc1b4e04cf3e8dae0b52bc08e2/dc5995243e7bbb34f22dd58ebee4f935.jpg);
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
aside{
   float:left; 
}
